@import '../../variables.scss';

.Generator{
    padding: 1rem 3rem 3rem;
}

.Msg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease;
    animation-fill-mode: forwards;

    p{
        background-color: $color_white;
        color: $color_black;
        font-weight: 700;
        font-size: 2em;
        padding: 1rem 2rem;
        max-width: 20rem;
        box-shadow: 0 0 30px rgba($color_black, 0.15);
        border-radius: 0.5rem;
        text-align: center;
    }
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}