@import '../../variables.scss';

.Title{
    background-color: $color_black;
    color: $color_white;
    font-size: 1.5rem;
    line-height: 1;
    padding: 2rem 10%;
    text-align: left;
    border-bottom-right-radius: 4rem;
    position: relative;
    .Password{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2em;
        span{
            display: inline-block;
        }

        .P{
            transform: scale(-1, 1);
            margin-right: 0.4em;
        }
        .S{
            margin-right: 0.5em;
        }
        .W{
            margin-right: 0.4em;
        }
        .D{
            &:before{
                content: '';
                width: 0.7em;
                display: inline-block;
                border-bottom: 0.16em solid $color_white;
                margin-right: 0.15em;
            }
        }
    }
    .Generator{
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 0.015em;
    }

    .Shape{
        width: 5rem;
        height: 5rem;
        background-color: $color_black;
        position: absolute;
        display: block;
        left: 0;
        bottom: -5rem;
        -webkit-mask-image: radial-gradient(circle 5rem at 100% 99%, transparent 0, transparent 99%, black 0);
        mask-image: radial-gradient(circle 5rem at 100% 99%, transparent 0, transparent 99%, black 0);
    }
}

@media screen and (min-width: 30rem) {
    .Title{
        font-size: 2rem;
        border-top-left-radius: 3.57rem;
        border-top-right-radius: 2rem;
    }
}