/* @font-face {
   font-family: 'Sora';
   src: local('Sora'),
   url('./fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
} */
    
@font-face {
    font-family:'Sora';
    src: local('Sora-Light'),
         url(./fonts/Sora/static/Sora-Light.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family:'Sora';
    src: local('Sora-Regular'),
         url(./fonts/Sora/static/Sora-Regular.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
    src: local('Sora-Bold'),
         url(./fonts/Sora/static/Sora-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

html, body, button, input{
    font-family: "Sora" !important ;
    font-size: 14px;
}